@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Ben's Website Is Boss</h1>
    <h3 class="subheader">...or so they say</h3>
</div>

<img src="/data/OwenPic.JPG" alt="Owen" style="width:500px" class="center">